<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gjb151b.outline.dao.ManageSysDevelopMapper">
  <resultMap id="BaseResultMap" type="cn.gjb151b.outline.model.ManageSysDevelop">
    <id column="dev_id" jdbcType="INTEGER" property="devId" />
    <result column="dev_itemid" jdbcType="VARCHAR" property="devItemid" />
    <result column="dev_name" jdbcType="VARCHAR" property="devName" />
    <result column="dev_subsys_eqp" jdbcType="INTEGER" property="devSubsysEqp" />
    <result column="dev_subsys_eqp_name" jdbcType="VARCHAR" property="devSubsysEqpName" />
    <result column="dev_subsys_eqp_model" jdbcType="VARCHAR" property="devSubsysEqpModel" />
    <result column="dev_subsys_eqp_num" jdbcType="VARCHAR" property="devSubsysEqpNum" />
    <result column="dev_supplier" jdbcType="VARCHAR" property="devSupplier" />
    <result column="dev_primary_platform" jdbcType="INTEGER" property="devPrimaryPlatform" />
    <result column="dev_secondary_platform" jdbcType="INTEGER" property="devSecondaryPlatform" />
    <result column="dev_attribute" jdbcType="INTEGER" property="devAttribute" />
    <result column="dev_key" jdbcType="INTEGER" property="devKey" />
    <result column="dev_install" jdbcType="INTEGER" property="devInstall" />
    <result column="dev_GND" jdbcType="INTEGER" property="devGnd" />
    <result column="dev_special" jdbcType="INTEGER" property="devSpecial" />
    <result column="dev_interport" jdbcType="INTEGER" property="devInterport" />
    <result column="dev_lowsensitive" jdbcType="INTEGER" property="devLowsensitive" />
    <result column="dev_emp" jdbcType="INTEGER" property="devEmp" />
    <result column="dev_static" jdbcType="INTEGER" property="devStatic" />
    <result column="dev_powerport" jdbcType="LONGVARCHAR" property="devPowerport" />
    <result column="dev_powersupply" jdbcType="LONGVARCHAR" property="devPowersupply" />
    <result column="dev_voltage" jdbcType="LONGVARCHAR" property="devVoltage" />
    <result column="dev_voltagenum" jdbcType="LONGVARCHAR" property="devVoltagenum" />
    <result column="dev_antenna" jdbcType="INTEGER" property="devAntenna" />
    <result column="dev_receive_launch" jdbcType="INTEGER" property="devReceiveLaunch" />
    <result column="dev_modulation" jdbcType="INTEGER" property="devModulation" />
    <result column="dev_create_time" jdbcType="TIMESTAMP" property="devCreateTime" />
    <result column="dev_new_time" jdbcType="TIMESTAMP" property="devNewTime" />
    <result column="dev_modify_time" jdbcType="TIMESTAMP" property="devModifyTime" />
    <result column="dev_proofread_time" jdbcType="TIMESTAMP" property="devProofreadTime" />
    <result column="dev_audit_time" jdbcType="TIMESTAMP" property="devAuditTime" />
    <result column="dev_authorize_time" jdbcType="TIMESTAMP" property="devAuthorizeTime" />
    <result column="dev_update_time" jdbcType="TIMESTAMP" property="devUpdateTime" />
    <result column="dev_opeator" jdbcType="INTEGER" property="devOpeator" />
    <result column="dev_status" jdbcType="INTEGER" property="devStatus" />
    <result column="dev_freq_optional" jdbcType="LONGVARCHAR" property="devFreqOptional" />
    <result column="dev_freq_FH_low" jdbcType="LONGVARCHAR" property="devFreqFhLow" />
    <result column="dev_freq_FH_mid" jdbcType="LONGVARCHAR" property="devFreqFhMid" />
    <result column="dev_freq_FH_high" jdbcType="LONGVARCHAR" property="devFreqFhHigh" />
    <result column="dev_freq_DSSS" jdbcType="LONGVARCHAR" property="devFreqDsss" />
    <result column="dev_CE101" jdbcType="LONGVARCHAR" property="devCe101" />
    <result column="dev_CE102" jdbcType="LONGVARCHAR" property="devCe102" />
    <result column="dev_CE106" jdbcType="LONGVARCHAR" property="devCe106" />
    <result column="dev_CE107" jdbcType="LONGVARCHAR" property="devCe107" />
    <result column="dev_CS101" jdbcType="LONGVARCHAR" property="devCs101" />
    <result column="dev_CS102" jdbcType="LONGVARCHAR" property="devCs102" />
    <result column="dev_CS103" jdbcType="LONGVARCHAR" property="devCs103" />
    <result column="dev_CS104" jdbcType="LONGVARCHAR" property="devCs104" />
    <result column="dev_CS105" jdbcType="LONGVARCHAR" property="devCs105" />
    <result column="dev_CS106" jdbcType="LONGVARCHAR" property="devCs106" />
    <result column="dev_CS109" jdbcType="LONGVARCHAR" property="devCs109" />
    <result column="dev_CS112" jdbcType="LONGVARCHAR" property="devCs112" />
    <result column="dev_CS114" jdbcType="LONGVARCHAR" property="devCs114" />
    <result column="dev_CS115" jdbcType="LONGVARCHAR" property="devCs115" />
    <result column="dev_CS116" jdbcType="LONGVARCHAR" property="devCs116" />
    <result column="dev_RE101" jdbcType="LONGVARCHAR" property="devRe101" />
    <result column="dev_RE102" jdbcType="LONGVARCHAR" property="devRe102" />
    <result column="dev_RE103" jdbcType="LONGVARCHAR" property="devRe103" />
    <result column="dev_RS101" jdbcType="LONGVARCHAR" property="devRs101" />
    <result column="dev_RS103" jdbcType="LONGVARCHAR" property="devRs103" />
    <result column="dev_RS105" jdbcType="LONGVARCHAR" property="devRs105" />
    <result column="dev_advice_proofread" jdbcType="LONGVARCHAR" property="devAdviceProofread" />
    <result column="dev_advice_audit" jdbcType="LONGVARCHAR" property="devAdviceAudit" />
    <result column="dev_advice_authorize" jdbcType="LONGVARCHAR" property="devAdviceAuthorize" />
    <result column="project_list" jdbcType="LONGVARCHAR" property="projectList"/>
    <result column="dev_fre_select" jdbcType="LONGVARCHAR" property="devFreSelect"/>
    <result column="dev_subsys_source" jdbcType="LONGVARCHAR" property="devSubsysSource"/>
    <result column="dev_subsys_com_ref" jdbcType="LONGVARCHAR" property="devSubsysComRef"/>
    <result column="dev_subsys_quantity" jdbcType="LONGVARCHAR" property="devSubsysQuantity"/>
    <result column="dev_subsys_environment" jdbcType="LONGVARCHAR" property="devSubsysEnvironment"/>
    <result column="dev_powername" jdbcType="LONGVARCHAR" property="devPowername"/>
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
    FROM manage_sys_develop
    WHERE dev_itemid = #{devItemId}
  </select>

  <select id="selectColByDevItemId" parameterType="java.lang.String" resultType="string">
    SELECT ${colName}
    FROM manage_sys_develop
    WHERE dev_itemid = #{devItemId};
  </select>

  <select id="selectByDevId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM manage_sys_develop
    WHERE dev_id = #{devId};
  </select>

  <select id="findAllItem" statementType="STATEMENT" resultMap="BaseResultMap">
    select * from manage_sys_develop ;
  </select>

  <select id="selectColByName" statementType="STATEMENT" resultType="java.lang.String">
    SELECT ${colName} FROM manage_sys_develop where dev_name = '${devName}';
  </select>

  <select id="selectDevIdByName" statementType="STATEMENT" resultType="Integer">
    SELECT dev_id  FROM manage_sys_develop where dev_name = '${devName}';
  </select>

  <insert id="addItem" parameterType="cn.gjb151b.outline.model.ManageSysDevelop" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into manage_sys_develop (dev_id, dev_itemid, dev_name,
    dev_subsys_eqp, dev_subsys_eqp_name, dev_subsys_eqp_model,
    dev_subsys_eqp_num, dev_supplier, dev_primary_platform,
    dev_secondary_platform, dev_attribute, dev_key,
    dev_install, dev_GND, dev_special,
    dev_interport, dev_lowsensitive, dev_emp,
    dev_static, dev_antenna, dev_receive_launch,
    dev_modulation, dev_create_time, dev_new_time,
    dev_modify_time, dev_proofread_time, dev_audit_time,
    dev_authorize_time, dev_update_time, dev_opeator,
    dev_status, dev_fre_select, dev_powerport,
    dev_powersupply, dev_voltage, dev_voltagenum,
    dev_freq_optional, dev_freq_FH_low,
    dev_freq_FH_mid, dev_freq_FH_high, dev_freq_DSSS,
    dev_CE101, dev_CE102, dev_CE106,
    dev_CE107, dev_CS101, dev_CS102,
    dev_CS103, dev_CS104, dev_CS105,
    dev_CS106, dev_CS109, dev_CS112,
    dev_CS114, dev_CS115, dev_CS116,
    dev_RE101, dev_RE102, dev_RE103,
    dev_RS101, dev_RS103, dev_RS105,
    dev_advice_proofread, dev_advice_audit,
    dev_advice_authorize, project_list,
    dev_subsys_source, dev_subsys_com_ref,
    dev_subsys_quantity, dev_subsys_environment,
    dev_powername
    )
    values (#{devId,jdbcType=INTEGER}, #{devItemid,jdbcType=VARCHAR}, #{devName,jdbcType=VARCHAR},
    #{devSubsysEqp,jdbcType=INTEGER}, #{devSubsysEqpName,jdbcType=VARCHAR}, #{devSubsysEqpModel,jdbcType=VARCHAR},
    #{devSubsysEqpNum,jdbcType=VARCHAR}, #{devSupplier,jdbcType=VARCHAR}, #{devPrimaryPlatform,jdbcType=INTEGER},
    #{devSecondaryPlatform,jdbcType=INTEGER}, #{devAttribute,jdbcType=INTEGER}, #{devKey,jdbcType=INTEGER},
    #{devInstall,jdbcType=INTEGER}, #{devGnd,jdbcType=INTEGER}, #{devSpecial,jdbcType=INTEGER},
    #{devInterport,jdbcType=INTEGER}, #{devLowsensitive,jdbcType=INTEGER}, #{devEmp,jdbcType=INTEGER},
    #{devStatic,jdbcType=INTEGER}, #{devAntenna,jdbcType=INTEGER}, #{devReceiveLaunch,jdbcType=INTEGER},
    #{devModulation,jdbcType=INTEGER}, #{devCreateTime,jdbcType=TIMESTAMP}, #{devNewTime,jdbcType=TIMESTAMP},
    #{devModifyTime,jdbcType=TIMESTAMP}, #{devProofreadTime,jdbcType=TIMESTAMP}, #{devAuditTime,jdbcType=TIMESTAMP},
    #{devAuthorizeTime,jdbcType=TIMESTAMP}, #{devUpdateTime,jdbcType=TIMESTAMP}, #{devOpeator,jdbcType=INTEGER},
    #{devStatus,jdbcType=INTEGER}, #{devFreSelect,jdbcType=INTEGER}, #{devPowerport,jdbcType=LONGVARCHAR},
    #{devPowersupply,jdbcType=LONGVARCHAR}, #{devVoltage,jdbcType=LONGVARCHAR}, #{devVoltagenum,jdbcType=LONGVARCHAR},
    #{devFreqOptional,jdbcType=LONGVARCHAR}, #{devFreqFhLow,jdbcType=LONGVARCHAR},
    #{devFreqFhMid,jdbcType=LONGVARCHAR}, #{devFreqFhHigh,jdbcType=LONGVARCHAR}, #{devFreqDsss,jdbcType=LONGVARCHAR},
    #{devCe101,jdbcType=LONGVARCHAR}, #{devCe102,jdbcType=LONGVARCHAR}, #{devCe106,jdbcType=LONGVARCHAR},
    #{devCe107,jdbcType=LONGVARCHAR}, #{devCs101,jdbcType=LONGVARCHAR}, #{devCs102,jdbcType=LONGVARCHAR},
    #{devCs103,jdbcType=LONGVARCHAR}, #{devCs104,jdbcType=LONGVARCHAR}, #{devCs105,jdbcType=LONGVARCHAR},
    #{devCs106,jdbcType=LONGVARCHAR}, #{devCs109,jdbcType=LONGVARCHAR}, #{devCs112,jdbcType=LONGVARCHAR},
    #{devCs114,jdbcType=LONGVARCHAR}, #{devCs115,jdbcType=LONGVARCHAR}, #{devCs116,jdbcType=LONGVARCHAR},
    #{devRe101,jdbcType=LONGVARCHAR}, #{devRe102,jdbcType=LONGVARCHAR}, #{devRe103,jdbcType=LONGVARCHAR},
    #{devRs101,jdbcType=LONGVARCHAR}, #{devRs103,jdbcType=LONGVARCHAR}, #{devRs105,jdbcType=LONGVARCHAR},
    #{devAdviceProofread,jdbcType=LONGVARCHAR}, #{devAdviceAudit,jdbcType=LONGVARCHAR},
    #{devAdviceAuthorize,jdbcType=LONGVARCHAR}, #{projectList,jdbcType=LONGVARCHAR},
    #{devSubsysSource,jdbcType=LONGVARCHAR}, #{devSubsysComRef, jdbcType=LONGVARCHAR},
    #{devSubsysQuantity, jdbcType=LONGVARCHAR}, #{devSubsysEnvironment, jdbcType=LONGVARCHAR},
    #{devPowername, jdbcType=LONGVARCHAR}
    )
  </insert>

  <select id="getProjectByDevName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from manage_sys_develop where dev_name = #{devName};
  </select>
</mapper>